.dep
{
    display: flex;
    align-content: center;
    justify-content: center;
    h1
    {
        font-weight: 500;
    }
}
ion-content
{
    --background : #E1E2E1;
}
ion-slides {
    height: 80%;
    --bullet-background	:green;
    --bullet-background-active:blue;
    //--progress-bar-background:blue;
    //--progress-bar-background-active:blue;
    //--scroll-bar-background:blue;
    //--scroll-bar-background-active:blue;
  }

  .swiper-slide {
    display: block;
    
  }
  ion-checkbox 
  {
    --border-radius:5px;
    --size:21px;
  }
  ion-button{
    margin-top: 25px;
  }
  .my-custom-class {
    --background: #222;
    --spinner-color: #fff;
  
    color: #fff;
  }