<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1>Notifications</h1>
      </ion-col>
    </ion-row>
    <span *ngIf="show">
      <ion-list *ngIf="listNewNotification.length !=0">
        <ion-list-header class="ion-text-center" >
          Récentes notifications 
        </ion-list-header>
        <ion-item *ngFor="let notification of listNewNotification">
          <ion-label>
            <h2>{{notification.title}}</h2>
            <h3>{{notification.msg}}</h3>
            <p class="datetime">{{notification.updatedAt}}</p>
          </ion-label>
        </ion-item>  
      </ion-list> 
    </span>
    <span *ngIf="show2">
      <ion-list *ngIf="listOldNotification.length !=0">
        <ion-list-header class="ion-text-center">
           Anciennes notifications
        </ion-list-header>
        <ion-item *ngFor="let notification of listOldNotification">
          <ion-label>
            <h2>{{notification.title}}</h2>
            <h3>{{notification.msg}}</h3>
            <p class="datetime">{{notification.updatedAt}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </span>
  </ion-grid>
</ion-content>