<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col size="4" routerLink="pre-rattrapage">
          <ion-icon name="book" color="danger" size="large"></ion-icon>
          <p>Liste des pré-rattrapages</p>
        </ion-col>
        <ion-col size="4" routerLink="rattrapage">
          <ion-icon name="clipboard" color="danger" size="large"></ion-icon>
          <p>Liste des rattrapages</p>
        </ion-col>
        <ion-col size="4" routerLink="absence">
          <ion-icon name="document-text-sharp" color="danger" size="large"></ion-icon>
          <p>Liste des absences</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-col size="3" id="col1">
    <ion-img src="assets/svg/teacher.png"></ion-img>
  </ion-col>
</ion-content>