<ion-content>
  <ion-grid fixed >
    <ion-row >
      <ion-col size="12" class="ion-text-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title>ISET Sfax</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form #userLogin="ngForm" (ngSubmit)="login(userLogin.value)">
              <ion-item>
                <ion-label position="floating">E-mail <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input autocomplete="on" required type="text" ngModel name="userName"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Mot de passe <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="password" ngModel name="password" ></ion-input>
              </ion-item>
              <ion-button full large type="submit">
                Connexion
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>