ion-content {
    --background: #E1E2E1;
      ion-grid
      {
        position:relative;
        top: 26%;
      }
      ion-card-title
      {
        color: #007ac1;
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 2px;
      }
      ion-button
      {
        --background: #03a9f4;
        width: 80%;
        margin-top: 20px;
      }
      ion-card
      {
        box-shadow: 100px;
      }
    }