<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Liste des absences</ion-card-title>
    </ion-card-header>
  </ion-card>
  <div class="scrolling-wrapper">
    <ion-row 
      style="border-bottom: groove; background-color: rgb(131, 32, 19); font-family:Verdana ; font-size: 15px; font-weight: bold; height: 40px;width: 160%; ">
      <ion-col size="2">
        <ion-label style="color: white; font-size: 10px;">Date d'absence</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label style="color: white; font-size: 10px;">Séance</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label style="color: white; font-size: 10px;">Groupe</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label style="color: white; font-size: 9px;">Matière</ion-label>
      </ion-col>
    </ion-row>
        <ion-row *ngFor="let absence of listAbsence" style="width: 160%;">
          <ion-col size="2">
            <p style="font-size: 10px; font-weight: bold;">{{absence.dateAbsence}}</p>
          </ion-col>
          <ion-col size="2">
            <p style="font-size: 10px; font-weight: bold;">{{absence.nomSeance}}</p>
          </ion-col>
          <ion-col size="2">
            <p style="font-size: 10px; font-weight: bold;">{{absence.nomNivean}}</p>
          </ion-col>
          <ion-col size="6">
            <p style="font-size: 10px; font-weight: bold;">{{absence.matier}}</p>
          </ion-col>
        </ion-row>
  </div>
</ion-content>